<div class="row center sign-up-form">
   <div class="container">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Login Page</h3>
        <div class="row">
            <%= form_for(:sessions,html: {class:"col s12"}) do |f| %>

                <div class="row">
                    <div class="input-field col s12">
                    <%= f.text_field :email,placeholder:"Enter Your Email Address",autofocus:true%>
                    <%=f.label :email%>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                    <%= f.password_field :password,placeholder:"Enter Your Password"%>
                    <%= f.label :password,class:"active"%>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                    <%=f.button '<i class="material-icons right">arrow_forward</i>Login'.html_safe,class:"waves-effect waves-light btn right"%>
                    </div>
                </div>
                
            <% end %>
        </div>
    </div>
   </div>
   </div>
  </div>