<%= render 'shared/errors',obj: @student %>
<div class="container">
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header"><%= @student.new_record? ? "Sign Up!" : "Edit Your Profile"%></h3>
        <div class="row">
        <%= form_for(@student,html: {class:"col s12"}) do |f| %>
          <div class="row">
          <div class="input-field col s12">
          <%= f.text_field :name,placeholder: "Enter Your Full Name"%>  
          <%= f.label :name,class:"active" %>
          </div>
          </div>

          <div class="row">
          <div class="input-field col s12">
          <%= f.email_field :email,placeholder: "Enter Your Email Address"%> 
          <%= f.label :email,class:"active" %>
          </div>
          </div>
          
          <div class="row">
          <div class="input-field col s12">
          <%= f.password_field :password,placeholder: "Enter Your Password"%> 
          <%= f.label :password,class:"active"%>
          </div>
          </div>


          <div class="row">
          <div class="input-field col s12">
          <%= f.button(@student.new_record? ?  '<i class="material-icons right">arrow_forward</i>Sign Up'.html_safe: '<i class="material-icons right">arrow_forward</i>Submit Changes'.html_safe,class:"btn  cyan lighten-3 waves-effect waves-light right")%>
          </div>
          </div>
        <% end %>
        </div>
      </div>
      </div>
      </div>
    </div>
</div>